

article, header, nav, section, aside, footer, .container{
  border: 2px solid lightgrey;
  padding: 10px;
  margin: 5px;
  font-family: 'Arial black', sans-serif;
  color: #555555;
  box-sizing: border-box;
  background-color: #42aaf4;**/
}

header{
  display: flex;
  border-color: 2px solid lightgrey;
  background:url(images/easy3.jpeg);
  font-family:'Impact';
}

section{
  border-color: black;
}

footer{
  border-color: black;
}

aside {
  border-color: black;
}

article{
  border-color: black;
}

nav {
  border-color: black;
}

.img-box {
  display: flex;
  height: 120px;
}

.img-responsive {
  width: 25%;
}
/* Layout styles */
header {
  display: flex;
  justify-content: space-between;
}
#logo {
  width: 80px;
  height: 80px;
}

.header-brand {
  display: flex;
  align-items: center;
}

#brand-name{
  font-size: 24px;
}

header nav {
  float: right;
}

@media(max-width: 768px){
  header nav {
    float: none;
  }
}

nav ul li {
  display: inline-block;
  margin-left: 16px;
}

nav ul {
  padding-left: 0;
}

.container {
  width: 100%;
  max-width:;
  margin: 0 auto;
}

.feels {display: block;
        background:url(images/easy6.jpg);}

article {
  width: 100%;
  float: left;
}

@media(min-width: 769px){
  article{
    max-width: 800px;
  }
}

aside{
  width: 270px;
  float: right;
  background:url(images/easy3.jpeg)
}

/* mobile: max-width: 480px */
/* tablet: max-width: 768px */
/* desktop: min-width: 1280px */

@media(max-width: 768px) {
  aside{
    width: 100%;
  }
}

footer {
  clear: both;
  background:url(images/easy3.jpeg)
}

aside img {
  width: 180px;

}

.xd { 
font-size: 40px;
font-family: Helvetica;
font-weight: bold;
color: #b7aac4;
}

#theButton {
  width: 50px;
  height: 50px;
}

#todoInput{
/*  width: 170px;
*/  /*height: 50px;*/
}

.img-lol {
  width: 200px;
  height: 200px;
}

.hello {
  background:url(images/easy3.jpeg);
  color: #b7aac4;
  font-family: 'Geneva';
}

.bye {
    background:url(images/easy3.jpeg)
}

.goodbye {
  background:url(images/easy3.jpeg)
}

.badbye {
  background:url(images/easy6.jpg)
}

.stupid {
  background:url(images/easy3.jpeg)
}

.smart {
    background:url(images/easy6.jpg)
}




















